.card-layout {
	position: relative;
	padding: 15px;
	border-radius: .25rem;
	border: 1px solid #cccccc;
}

.close-btn {
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 20px;
	&:hover {
		color: #000;
		text-decoration: none;
		opacity: .75;
	}
}
