.home {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 100vh;
	grid-gap: 10px;
	padding: 1vw;
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.home {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		grid-template-rows: 100vh;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

@media (min-width: 1300px) {
}
